*{
	padding: 0px;
	margin: 0px;

}
body{
	font-family: 'Roboto Slab', serif;
}
.imglogo img{
	object-fit: contain;
}

.top-header{
	background-color:#f75e61;
	height: 60px;
}
.top-left ul {
	list-style: none;

}
.top-left ul li{
	float:left;
	margin-right: 20px;

}
.top-left ul li a {
	color: #fff;
	text-decoration: none;
}

.top-left ul li a i{
	margin-right: 5px;
}

.top-right{
			list-style: none;
			margin-right:20px;	
			float: right;
			margin-top: 16px;
}
.top-right ul li{
				float:left;
				margin-right: 20px;
				list-style: none;

}
.top-right ul li a {
					color: black;
					text-decoration:none;
}
.top-right ul li a i{
					margin-right: 5px;
					color: #ffff;
					background-color:#000;
					padding: 5px;
}
.top-right ul li a i:hover{
					background-color:#f75e61;
					transition: 0.5s;
}
.menu-bar{
		background-color:#000;

}
.home:hover {
			transition:1s;	
			background-color:#f75e61; 
		
}
.menu-bar .navbar{
	float: right;
}
.navbar-nav .nav-item a{
	color:#FFFFFF;
	font-weight: bold;
	margin-top: 14px;
	margin-right: 20px;
	float: right;
}
.btn-primary{
	background-color:#f75e61 !important;
	padding: 30px;

}
.home-banner{
	background-image: url("../images/banner.jpg");
	width:100%;
	height: 624px;
}
.card{
		max-width:30rem;
		margin-top:12rem;
		padding:25px;
		background-color:rgba(0, 0, 0, 0.6)!important;
}
.card h2{
	font-family: 'Montserrat', sans-serif;
}
.card p {
    color: #fff;
    font-size: 14px;    
    margin: 20px 0px;
	font-family: 'Roboto', sans-serif;
}
.dont_txt{
		padding: 0px;
		color:#f75e61;
}
button.crd_btn_1 {
    background-color: #f75e61;
    color: #fff;
    padding: 10px 10px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}
button.crd_btn_2 {
    background-color: #fff;
    color: #f75e61;
    padding: 10px 10px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}
button.crd_btn_1:hover{
    background-color:#000;
    color:#f75e61;
    transition:1s;
    }
button.crd_btn_2:hover{
    background-color:#f75e61;
    color:#fff;
    transition:1s;
}
.good_txt{
		color:#fff;
}
.good_txt:before {
				content:"";
				border-top: 2px solid #f75e61;
				width: 133px;
				position: absolute;
				left: 6%;
				z-index:1;
				margin-top: 80px;	
}
/*********************************************************************************/
.service{
	margin-top: -90px;
	background-color:;
}
.servic_col_1{
 	background-image: url("../images/serce_1.png");
  	height: 300px;
}
.servic_col_2{
 	background-image: url("../images/serce_2.png");
  	height: 300px;
}
.servic_col_3{
 	background-image: url("../images/serce_3.png");
  	height: 300px;
}
.servic_col{
	text-align: center;
	padding: 0px 25px;
}
.servic_col i{
	  margin-top: 2rem;
      font-size: 30px;
      color:#E75252;
      border:10px solid #ffff;
      border-radius: 50px;
      padding: 20px;
      background-color: #fff;
}
.servic_col h5{
	color: #fff;
    font-family: 'Montserrat', sans-serif;
    margin: 20px 0px;
}
.servic_col p{
	color: #fff;
	font-family: 'Roboto', sans-serif;	
}
.servic_col h6{
	color: #fff;
}
.servic_col h6::before{
				content:"";
				border-top: 2px solid #ffff;
				width: 99px;
				position: absolute;
				left: auto;
				z-index:1;
				margin-top: 22px;
		}
/*********************************************************************************/
.heading_with_txt_wrapper{
	text-align: center;
	margin-top: 5rem;
}
.heading_with_txt_wrapper h3{
	    font-family: 'Montserrat', sans-serif;
	    margin: 0px 0px 20px;
	    color: #000;
	    font-size: 32px;
	    position: relative;
}
.heading_with_txt_wrapper h3::before {
    content: "";
    border-top: 3px solid #f75e61;
    width: 90px;
    position: absolute;
    left: 46%;
    top: 40px;
    z-index: 1;
}
.heading_with_txt_wrapper p{
	    font-family: 'Roboto', sans-serif;
    	color: #000;
    	margin: 0px 0px 40px;
}

/*********************************************************************************/
.donate_box{
	text-align:center;
	background-color:#F9F3F3;
	padding:30px;
	padding-bottom: 25px;
	margin-bottom:90px; 
	position: relative;	
}
.donate_box i{
		border:2px solid #f75e61;
		padding: 25px;
		border-radius: 50px;
		color: #ffff;
		background-color:#f75e61;
		font-size: 30px;
}
.donate_box h4{
	font-weight: bold;
	font-size: 20px;
    font-family: 'Montserrat', sans-serif;
	margin-top:20px;
	text-align: center;
}
.donate_box h4::before{
	content: "";
    border-top: 4px solid #f75e61;
    width: 30px;
    position: absolute;
    left: 46%;
    top: 10.5rem;
    z-index: 1;
}
.donate_box p{
		color:#000;
		margin-top: 25px;
		font-family: 'Roboto', sans-serif;
}
/*********************************************************************************/

.ifram_with_txt_wrapper{
			  background-color: #f75e61;
			  background-repeat: no-repeat;
			  background-size: cover;
			  height: 580px;
}
.ifram_with_txt_wrapper h1{
	text-align:center; 
	color: #ffff;
	padding-top: 40px;
	font-weight: bold;
}
.ifram_with_txt_content h5{
	color:#ffff;
	padding-top: 50px;
	font-weight: bold;
	position: relative;
}
.ifram_with_txt_content h5::before{
				content:"";
				border-top: 2px solid #ffff;
				width: 82px;
				position: absolute;
				left: auto;
				top:75px;
				z-index:1;
		}
.ifram_with_txt_content h6{
	color: #ffff;
	font-weight: bold;
	padding-top: 10px;
}
.ifram_with_txt_content p{
	color:#ffff;
	direction: none;
	font-weight: normal;
	font-size: 15px;
}
.ifram_with_txt_wrapper iframe{
    margin-top: 5rem;
}

/*********************************************************************************/
.cours_section{
	margin-top: 5rem;
	text-align:center;
}
.cours_section h3{
	font-family: 'Montserrat', sans-serif;
    margin: 0px 0px 20px;
    color: #000;
    font-size: 32px;
    position: relative;
}
.cours_section h3::before{
				content:"";
				border-top: 3px solid #EC5757;
				width: 80px;
				height: 55px;
				position: absolute;
				left: 46%;
				top: 40px;
				z-index:1;	
		}
.recent_paragrap{
	    font-family: 'Roboto', sans-serif;
	    margin: 10px 0px 40px;
}
.ren_cor_col h4 {
	color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    text-align: left;
    margin-top: 20px;
}
.ren_cor_col:hover h4{
	color:#f75e61;
	transition: 0.5s;
}
.cos_secn_txt{
	text-align: left;
}
.aty{
		position: relative;
		background: #f75e61;
		height: 25px;
		width: 55px;
		margin-left:255px;
		border-radius: 5px;
		color: #ffff;
}
.aty::after{
				position:absolute;
			    content: '';
			    border-left: 6px solid transparent;
			    border-right: 6px solid transparent;
			    border-top: 10px solid #f75e61;
			    bottom: -10px;
			    margin-left: -20px;
}

.fifty{
		position: relative;
		background: #f75e61;
		height: 25px;
		width: 55px;
		margin-left:155px;
		border-radius: 5px;
		color: #ffff;
}
.fifty::after{
			    position:absolute;
			    content: '';
			    border-left: 6px solid transparent;
			    border-right: 6px solid transparent;
			    border-top: 10px solid #f75e61;
			    bottom: -10px;
			    left: 18px;
			  	margin-left: -2px;
}
.fifty2{
			position: relative; 
			background: #f75e61;
			height: 25px;
			width: 55px;
			margin-left:155px;
			border-radius: 5px;
			color: #ffff;
}

.fifty2::after{
				position:absolute;
			    content: '';
			    border-left: 6px solid transparent;
			    border-right: 6px solid transparent;
			    border-top: 10px solid #f75e61;
			    bottom: -10px;
			    left: 18px;
			   	margin-left: 0px;	
}
.raised{
		font-weight: normal;
		text-align:left; 
		padding-top: 10px;
}
.coal{
		text-align:right;
		padding-left: 130px;
}
.Latest{
		font-weight: bold;
		padding-top: 80px;
}
.latestparagrap{
	text-align:center;
	font-weight:normal;
}

.progress1{
		    background-color: #000 !important;
		}
/*********************************************************************************/
.our_record_section{
		background-image: url(../images/our_img_back.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		height: 15rem;
		margin-top: 3rem;
}
.nube_txt_content{
	padding-top:5rem;
	display: flex;
	align-items: center;
}
.nube_txt_content i{
	color: #f75e61;
	font-size: 50px;
	border-bottom: 3px solid #f75e61;
	padding-bottom: 10px;
	position: relative;
}
.nube_txt_content h4{
	font-family: 'Montserrat', sans-serif;
	color: #f75e61;
	font-size: 40px;
    padding-left: 10px;
}
.our_record_section p{
	font-family: 'Montserrat', sans-serif;
	color: #fff;
}
/*********************************************************************************/
.letest_donation_section{
	  margin-top: 5rem;
}
.lest_head_txt{
    font-family: 'Montserrat', sans-serif;
    margin: 0px 0px 20px;
    color: #000;
    font-size: 32px;
    position: relative;
}
.lest_head_txt::before{
	content: "";
    border-top: 3px solid #f75e61;
    width: 100px;
    height: 55px;
    position: absolute;
    left: 46%;
    top: 2.5rem;
    z-index: 1;	
		}
.lest_prg_txt{
	padding-top:20px;
	font-weight: normal;
	text-align: center;
	margin-bottom: 3.5rem; 
	font-family: 'Roboto', sans-serif;
}
.donate-box{
	background-color:#ffff;
	box-shadow: 0px 3px 6px  rgba(0, 0, 0, 0.2);
	padding-bottom: 15px;
	border: 1px solid #eee;

}
.donate-box:hover{
				border:1px solid #f75e61;
				transition:1s;
				}
.donate-box:hover img{
				border:1px solid #f75e61;
				transition:1s;
				}
.owl-nav{
	display: none;
}
.owl-dot{
	margin-top: 30px;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #f75e61 !important;
}
.image{
		margin-top: 0px;
}
.clnt_pic{
			width: 100px !important;
    		height: 100px;
    		text-align: center;
    		margin: 0 auto;
    		border:1px solid #eee;
			border-radius: 50%;
			padding: 5px;
}
.clnt_name{
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	padding-top: 20px;
	font-size: 20px;
}
.cmpny_name{
		font-weight: bold;
		text-align: center;
}
.doller{
	font-weight: normal;
	text-align: center;
	font-weight: bold;
	padding-top: 22px;
	
	
}
.doller span{
			border-bottom: 4px solid #f75e61;
			padding-bottom: 30px;
}
/*********************************************************************************/
.upcoming{
	text-align:center; 
}
.upcom{
		font-weight: bold;
		padding-top: 80px;	
}
.upcom::before{
				content:"";
				border-top: 3px solid #EC5757;
				width: 40px;
				height: 55px;
				position: absolute;
				left: 48%;
				z-index:1;
				margin-top: 40px;	
}
.upcomingpara{
	text-align:center;
	font-weight:normal;
	padding-top: 20px;
}
/*pics-two*/
.pics{
		height: 250px;
		width: 100%;
}

/*chaina banner=good boy two pic (>) */
.upcom_event_wrapper{
	margin-top: 5rem;
}
.upcom_event_head {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin: 0px 0px 30px;
    color: #000;
    font-size: 32px;
    position: relative;
}
.upcom_event_head::before{
    content: "";
    border-top: 3px solid #f75e61;
    width: 100px;
    height: 55px;
    position: absolute;
    left: 46%;
    top: 45px;
    z-index: 1;
}
.upcom_event_prgp {
    text-align: center;
    margin: 0px 0px 50px;
    color: #000;
}
.people_head_txt{
	color: #000;
    font-family: 'Montserrat', sans-serif;
        font-size: 18px;

}
.people_prgp_txt{
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	color: #000;
}
.upcmg_txt_content i{
	color: #f75e61;
}
.upcmg_txt_content button{
	border: none;
    background-color: #f75e61;
    color: #ffff;
    padding: 8px 15px;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
}
.upcmg_txt_content button:hover{
    background-color: #000;
    color: #fff;
    transition: 1s;
}
.up_et_cont_btn{
	text-align: center;
	margin-top: 3rem;
}
.up_et_cont_btn button{
	border: none;
	background-color:#f75e61;
	color:#fff;
    padding: 8px 15px;
    font-family: 'Montserrat', sans-serif;
}
.up_et_cont_btn button:hover{
	border: none;
	background-color:#000;
	transition: 1s;
}
.donatorssay_section{
	 		background-image:url(../images/donatossay_back.png);
			background-repeat: no-repeat;
			background-size: cover;
			height: 550px;
			margin-top: 90px;
}
.donatorssay_section h2{
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	text-align: center;
	padding: 60px 0px 40px;
	position: relative;
}
.donatorssay_section h2::before{
    content: "";
    border-top: 3px solid #ffff;
    width: 100px;
    height: 70px;
    position: absolute;
    left: 46%;
    top: 100px;
    z-index: 1;
}
.donsay_column p{
		color: #000;
		background-color: #fff;
    	padding: 30px 30px;
    	font-family: 'Roboto', sans-serif;
}
.donsay_column p i{
	color:#f75e61;
    font-size: 30px;
    padding-right: 5px;
}
.donsay_column p::after{
				    position:relative;
				    content: '';
				    border-left: 8px solid transparent;
				    border-right: 8px solid transparent;
				    border-top: 16px solid #ffff;
				    bottom: -65px;
    				left: -200px;
				  	margin-left: -2px;
			  	}
.donsay_column h5{
	margin: 0px;
	color: #fff;
	font-size: 18px;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
}
.donsay_column span{
	color: #fff;
	font-family: 'Roboto', sans-serif;
}
/****************************************************************************/
.latest_news_section {
    margin-top: 5rem;
}
.latest_news_section h2{
	color: #000;
	text-transform: uppercase;
	font-size: 30px;
	font-family: 'Montserrat', sans-serif;
	position: relative;
}
.latest_news_section h2::before{
				    content: "";
				    border-top: 3px solid #f75e61;
				    width: 60px;
				    height: 55px;
				    position: absolute;
				    left: 46%;
				    top: 38px;
				    z-index: 1;
}
.latest_news_section p{
	color: #000;
	font-family: 'Roboto', sans-serif;
    padding: 10px 0px;
}
.news_colume{
    text-align: left;
}
.news_colume img {
    object-fit: cover;
}
.news_colume h4{
    margin-top: 20px;
	font-size: 20px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}
.news_colume h6{
	font-weight: bold;
    font-family: 'Roboto', sans-serif;
}
.news_colume h6 span{
	color:#f75e61;
}
.news_colume p{
	color:#000;
	font-family: 'Roboto', sans-serif;
	margin-bottom: 5px;
}
.news_colume button {
    border: none;
    color: #fff;
    padding: 10px 20px;
    background-color:#f75e61;
    font-family: 'Montserrat', sans-serif;
} 
.news_colume button:hover{
    background-color:#000;
    transition: 1s;
}  
/************************************************************************************/
.news_letter_section{
		margin-top: 5rem;
		background-color:#EB4C4C;
		height: 140px;
}
.news_letter_section i{
	font-size: 25px;
    color: #f75e61;
    background-color: #fff;
    border-radius: 50px;
    padding: 30px;
   	margin-top: 1.8rem;
}
.news_letter_section h6{
	margin-top: 1.9rem;
	color: #fff;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	position: relative;
}
.news_letter_section h6::before{
				content:"";
				border-bottom: 2px solid #ffff;
				width: 37px;
				height: 55px;
				position: absolute;
				left: auto;
				z-index:1;
				top: -30px
}
.news_letter_section p{
	margin-bottom: 2px;
	color: #fff;
	font-family: 'Roboto', sans-serif;
}
.news_letter_section label{
		margin-top: 1.9rem;
		color: #fff;
		font-family: 'Roboto', sans-serif;
}
.news_letter_section input{
	width: 100%;
	border: none;
    padding: 6px 10px;
}
.news_letter_section:focus, input:focus{
    outline: none;
}
.news_letter_section button {
    margin-top: 53px;
    font-family: 'Montserrat', sans-serif;
    border: none;
    color: #fff;
    background-color: #000;
    padding: 8px 39px;
}

/***********************************************************************************/

/*fotter*/
.footer_section{
				background-color:#211F1F;
				height: 500px;
}
.fotr_col h5{
				text-transform: uppercase;
				color:#ffff;
				font-family: 'Montserrat', sans-serif;
				margin-top: 70px;
				margin-bottom: 30px;
				position: relative;
}
.fotr_col h5::before{
					content:"";
					border-top: 2px solid #EB4C4C;
					width: 85px;
					position: absolute;
					left: auto;
					top: 30px;
					z-index:1;
				}
.fotr_col p{
	color:#BCB8B8;
	font-weight: normal;
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
}
.fotr_col p span{
	color:#EB4C4C;
	font-family: 'Roboto', sans-serif;
}
.inputbox1{
			width:100%;
			height: 40px;
			background-color:#211F1F;
			border:2px solid #BCB8B8;
			margin-top: 7px;
			color: #ffff;
}
.fotr_col_3 input{
	width: 100%;
	color:#BCB8B8;
	background-color:#211F1F;
	border: 1px solid #BCB8B8;
	padding: 8px 15px;
}
.fotr_col_3 textarea{
	color:#BCB8B8;
	background-color:#211F1F;
	border: 1px solid #BCB8B8;
	width: 100%;
	padding: 7px 15px;
}
textarea:focus, input:focus{
    outline: none;
}
.fotr_col_3 textarea::placeholder{	
	color: #BCB8B8;
}
.fotr_col_3 input::placeholder{
	padding-top: -50px;
	color: #BCB8B8;
}
.fotr_col_3 input:nth-child(4) {
  margin: 10px 0px;
}
.fotr_col_3 button{
    padding: 8px 45px;
    color: #fff;
    font-size: 15px;
    background-color:#f75e61;
    border: none;
    margin-top: 10px;
    margin-bottom: 40px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}
.fotr_col_1 a i{
		border:5px solid #BCB8B8;
		background-color:#BCB8B8;
		color: black;
		border-radius: 50%;
		margin-left: 4px;
}
.fotr_col_1 a i:hover{
		border:5px solid #f75e61;
		background-color:#f75e61;
		color: #fff;
		transition: 0.5s;
}
.copy_right_section{
	justify-content: space-between;
}
.copy_right_section p{
	    color: #BCB8B8;
}
.copy_right_section p span{
	color:#f75e61;
}